{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
    {% for service in company.services %}
        <a href="{{ path('pdf_serivces', {'service': service.serviceId}) }}">{{ service.serviceName }}</a><br/>
    {% endfor %}
{% endblock %}
